.login {
  display: flex;
  width: 50vw;
  position: relative;
  margin: 100px auto;
  border: 3px solid rgba(255, 255, 255, 0.285);
  border-radius: 20px;
  box-shadow: 1px 1px 3px 3px rgba(255, 255, 255, 0.866);
}

.login img {
  width: 40%;
}

.login .form {
  /* position: absolute;
  top: 20px;
  left: 25%;
  z-index: 15; */
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.login .form input {
  width: 90%;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
}

.login .form button {
  display: block;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 30px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}

.login .form button:hover {
  cursor: pointer;
}

.login .form h1 {
  margin: 20px 0;
}

.login .form a {
  color: var(--primary-color);
}
@media (max-width: 768px) {
  .login img {
    display: none;
  }

  .login .form {
    position: relative;
    margin-bottom: 30px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}
